<div class="row">
  <div class="jumbotron">
  <h1>
    Welcome to My Day Care
  </h1>
  </div>
</div>
<h3>
  Please Login get started.
</h3>
<div class="row login-links">
  <%= link_to 'Google+', '/auth/google' %>
</div>
