<div class="image">

  <!-- <h1 class="header-red"><%= link_to "Welcome " + @current_user.name, root_path %></h1>
  <p> -->
    <!-- <%= image_tag "299895_orig.jpg", :class => "image-welcome2" %> -->
    <%= image_tag "Daycare_Clip-Art-1.jpg" , :class=> "image-welcome"%>
<br>
<br>
<br>
    <!-- this button do 2 things: 1. It will create new forms for all kids. 2. it will
    make all children be "not attend" -->
</div>
