<div class="image">

  <h1> Welcome <%= @current_user.name %></h1>
  <br>
  <br>
  <p>
    <%= button_to "Send Welcome email", welcome_path %>
    <br>
    <%= button_to 'New Day', new_forms_path %>
</div>
