<h2 class="header-att"> <%= @parent.name %>'s Children </h2>
<div class="row">
  <% @children.each do |child| %>
    <div class="col-md-4">
      <div class= "child-name child-details"><%= link_to child.name, my_child_path(child.id ,:parent_id => @parent.id) %></div>
      <% info = child.infos.last %>
      <br>
      <% info = child.infos.last %>
      <%= link_to image_tag(child.avatar.url(:square), :class => "child-border"), my_child_info_path(@parent.id, child.id) %>
      <br>
      <br>
    </div>
  <% end %>
</div>
<br>
