
<% @infos.reverse.each do |info| %>

  <h1 style="font-family: 'Josefin Sans', serif;"> <%= @child.name %> <small>Daily Information <%= info.created_at.strftime('%D') %></h1></small>
  <h2 class="form_h2">Diapers</h2>
  <h3 style="font-family: 'Josefin Sans', serif;"> Morning diaper: <stuff><%= info.diaper_m %></stuff></h3>: 

<% end %>
