
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */
 @import url(https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation);
  @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
  @import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
  @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
  @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
  @import "bootstrap-social";


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 // body {
 //     background-image: url("heart-balloon");
 //     background-size: 100%;
 //
 //     // background-color: #cccccc;
 // }

 .not-attend {
   border-radius: 52px 52px 52px 52px;
  -moz-border-radius: 52px 52px 52px 52px;
  -webkit-border-radius: 52px 52px 52px 52px;
  border: 19px solid #f50814;
 }

 .page-header h1 {
  margin-left: 150px;
}

.page-header {
  background: url(http://greatist.com/sites/all/themes/greatist2x/images/design/HeartIcon.png);
  background-repeat: no-repeat;
  // padding-bottom: 9px;
  margin: 40px 0px 20px;
  border-bottom: 1px solid #EEE;
}

 .attend {
   border-radius: 52px 52px 52px 52px;
  -moz-border-radius: 52px 52px 52px 52px;
  -webkit-border-radius: 52px 52px 52px 52px;
  border: 19px solid green;
 }

 .button {
   margin-left: 20px;
 }

 .form_lable {
   text-align: center;
   font-size: 20px;
 }

 .form_h2 {
   font-family: Indie Flower, serif;
   color: #ff4081;
 }

 .h3_form {
   font-family: Indie Flower, serif;
   color: #333344;
 }

.box {
  width: 500px;
}

#g_box {
  height: 200px;
}

.fire {
  font-size: 50px;
  text-align: center;
}
