
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */
 @import url(https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation);
  @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
  @import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
  @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
  @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
  @import "bootstrap-social";


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "compass/css3";

 @import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

 // body {
 //     background-image: url("heart-balloon");
 //     background-size: 100%;
 //
 //     // background-color: #cccccc;
 // }

 .background-image {
     background-image: url("download");
     background-size: 100%;
     background-repeat: no-repeat;
     height: 800px;
     // background-color: #cccccc;
 }

 .header-red {
   color: red;
   text-align: center;
 }

#google {
  width: 200px;
  margin-left: 40%;
}
.session {
  font-size: 70px;
  margin-top: 180px;
  margin-bottom: 100px;
  text-align: center;
}
 .not-attend {
   border-radius: 52px 52px 52px 52px;
  -moz-border-radius: 52px 52px 52px 52px;
  -webkit-border-radius: 52px 52px 52px 52px;
  border: 19px solid #f50814;
 }

.image-welcome {
  height: 400px;
}

.image-welcome2 {
  margin-top: 20px;
  margin-left: 130px;;
}

 .child-border {
   border-radius: 52px 52px 52px 52px;
  -moz-border-radius: 52px 52px 52px 52px;
  -webkit-border-radius: 52px 52px 52px 52px;
  border: 19px solid #FFD801;
 }

 .page-header h1 {
  margin-left: 150px;
}

.page-header {
  background: image-url("apple-ico.jpg");
  background-repeat: no-repeat;
  // padding-bottom: 9px;
  margin: 40px 0px 20px;
  border-bottom: 1px solid #EEE;
}

 .attend {
   border-radius: 52px 52px 52px 52px;
  -moz-border-radius: 52px 52px 52px 52px;
  -webkit-border-radius: 52px 52px 52px 52px;
  border: 19px solid green;
 }

 .button {
   margin-left: 20px;
 }

 .form_lable {
   text-align: center;
   font-size: 20px;
 }

 .form_h2 {
   font-family: Indie Flower, serif;
   color: #ff4081;
 }

 stuff {
   font-family: Indie Flower, serif;
   text-decoration: underline;
   font-size: 20px;
   color: #ff4081;
 }

  stuff-big {
    font-family: Indie Flower, serif;
    text-decoration: underline;
    font-size: 30px;
    color: #ff4081;
  }


 .info {
   margin-top: 80px;
 }

 .h3_form {
   font-family: Indie Flower, serif;
   color: #333344;
 }

 .header-att {
   font-family: Josefin Sans, serif;
   color: #7D0552;
   font-size: 50px;
   margin-top: 60px;
   margin-bottom: 70px;
   font-weight: bold
 }

 .child-name {
   font-family: Indie Flower, serif;
   font-size: 30px;
   margin-left: 95px;
 }

.box {
  width: 500px;
}

#g_box {
  height: 200px;
}

.fire {
  font-size: 50px;
  text-align: center;
}





 div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
button#twitter {
    border-color: #007aa6;
    background-color: #008cbf;
    background-image: url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
button#googleplus {
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image:url(http://i.tinyuploads.com/KBZc6n.png);
}
div.social-wrap button:active {
    background-color: #222;
}
div.social-wrap.b button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.b {
}
div.social-wrap.b > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    ;
}
div.social-wrap.b > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 170px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.b > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}
div.social-wrap.b button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:"Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
div.social-wrap.c button {
    padding-left: 35px;
    padding-right: 0px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    width: 205px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .4) -1px -1px 0;
}
div.social-wrap.c {
}
div.social-wrap.c > .googleplus {
    background-size: 30px 30px, cover;
    background-image: url(http://dl.dropbox.com/u/109135764/gplus.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #353233), color-stop(100%, #1d1b1c));
    ;
}
div.social-wrap.c > .facebook {
    background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
    background-size: 25px 25px, cover;
    background-position: 10px center, center center;
    background-repeat: no-repeat, repeat;
}
div.social-wrap.c > .twitter {
    background-image: url(http://dl.dropbox.com/u/109135764/twitterbird.png), -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00aced), color-stop(99%, #00a9ff));
    ;
}
div.social-wrap.c button em {
    font-size: 18px;
    letter-spacing: 1px;
    font-family:"Times New Roman";
    margin-right: 4px;
    margin-left: 4px;
}
ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}
ul.sm-wrap li {
    font-family:"Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}
ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
ul.sm-wrap li#twitter-sm {
    background-image:url(https://twitter.com/images/resources/twitter-bird-white-on-blue.png);
}
ul.sm-wrap li#gplus-sm {
    background-image: url(http://i.tinyuploads.com/KBZc6n.png);
}

ul.sm-wrap a{
    text-decoration: none;
}

// Navbar
#navigation li {
        list-style: none;
        display: block;
        float: left;
        margin: 1em;
}

#navigation li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.6em;
        margin: 0 .5em;
        font-family: Indie Flower, serif;

}

#navigation li a:hover {
        margin-top: 2px;
}

#navigation_container {
   margin: 0 auto;
   width: 960px;
  text-align: center;
}

.rectangle {
   background: #4863A0;
   height: 62px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 3em 0;
}

.l-triangle-top {
   border-color: #4863A0 transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 1px;
   left: -50px;

}

.l-triangle-bottom {
   border-color: transparent transparent #4863A0;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -40px;
   left: -150px;
}


.r-triangle-top {
   border-color: #4863A0 transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -45px;
   top: -107px;
   //    right: -10px;
}

.r-triangle-bottom {
   border-color: transparent transparent #4863A0;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -149px;
   right: -145px;
}

// nav FOOTER

#footer {
 margin-top: 40px;
 font-size: 15px;
 margin-left: 40px;
 text-align: center;
 bottom:0;
 left:0;
}
