<!-- <footer>
  <nav>
    <ul>
      <li>Webpage by <%= link_to "Tamar Hershi", "https://github.com/TamarHershi" %></li>
      <li>Copyright &copy; <%= Time.now.year %> All rights reserved.</li>
    </ul>
  </nav>
</footer> -->

<!-- <footer>
  <div id="footer">
  Webpage by <%= link_to "Tammy Hershenbaum", "https://github.com/TamarHershi" %>  <br>
  Copyright &copy; <%= Time.now.year %> All rights reserved.
  </div>
</footer> -->
