<% if @current_user %>
  <div id="headercss">
    <div class="row">
      <div class="navbar navbar-default">
        <div class="navbar-left navbar-links">
            <%= link_to "My class", root_path %>
            <%= link_to "My Info", root_path %>
            <!-- <= link_to "Logout", logout_path, method: :delete %> -->
        </div>
      </div>
    </div>
  </div>
<% else %>
    <li><%= link_to 'Google+', '/auth/google' %></li>
<% end %>
